{% extends "base.html" %}
{% load static %}

{% block heading %}Recipe Details{% endblock %}
{% block content %}
    <h3>{{ recipe.name }}</h3>
    <h4>By {{ recipe.author }}</h4>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>
                {{ ingredient.quantity }} {{ ingredient.ingredient.name }}
            </li>
        {% endfor %}
    </ul>
    {% for image in recipe.image.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}
{% endblock %}